@tailwind base;
@layer base {
  html {
    @apply font-poppins;
  }
}
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css?family=Poppins');
}
